<div id="dialog_vector_graphics_conversion" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 data-bind="text: title"></h3>
    </div>
    <div class="modal-body">
        <p>{{ _('Please configure which slicer and which slicing profile to use and name the GCode file to slice to
        below, or click "Cancel" if you do not wish to slice the file now.') }}</p>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label">{{ _('Laser intensity (1-1000)') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" data-bind="value: laserIntensity">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('Speed (30 - 2000)') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" data-bind="value: laserSpeed">
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{{ _('GCode Filename') }}</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" data-bind="value: gcodeFilename">
                        <span class="add-on">.gco</span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Cancel') }}</a>
        <a href="#" class="btn btn-primary" data-bind="click: function() { if ($root.enableConvertButton()) { $root.convert() } }, enabled: enableConvertButton, css: {disabled: !$root.enableConvertButton()}">{{ _('Convert') }}</a>
    </div>
</div>